API_keys.txt
*.swp
*.bin
__pycache__/
*.py[cod]
spred/sentiment/checkpoints/*
spred/sentiment/data/*
*.log
spred/gpst/data/*
*.zip
spred/exchange/concatenated_price_data/*
spred/gpst/checkpoints/*
spred/gpst/ckpts/*
*.mypy_cache/
*results/
spred/bookdfs/*.csv
tordatap/
